{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>


<div id="url_form">

<div class="form_main">
<form action="{% url 'd_key' %}" method="POST">
<div class="but">
{% csrf_token %}
{{ form }}
<button type="submit">Search</button>
</div>
</form>
</div>





{% if post %}
{% for i in post %}
    <div id ="main">
<div class="main_1">
  <div class="img">
    {% if i.iimg != "None" %}
<img class="iimg" src="{{i.iimg}}">
    {% endif %}
</div>

<div class="i_url"><a href=" {{i.url}}">{{i.site}}</a></div>
</div>

<table class="teb_2">
<thead class="tt">
<tr>
<th>스크립트</th></tr></thead>

<tbody>
<td class="title">
{% for e2 in i.title %}
{{ e2 }}
{% endfor %}
</td>
</tbody>
</table>


{% for i3 in i.si %}
<a class="i3_url" href="{{i3.url}}">{{ i3.tt }}</a>
{% endfor %}
<p>{{ i.mid_text }}</p>

{% for i2 in i.st %}
<a class="a_2" href="{{i2.url}}">{{ i2.tt }}</a>
{% endfor %}

<div class="info">
 <a class="a_3" href="{{i.info_url}}">{{ i.info_text }}</a></div>
</div>
{% endfor %}
{% endif %}



</div>
</body>
</html>